<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add</title>
</head>
<body>
<form action="/add" method="post">
    <label>
        Title:
        <input type="text" name="name">
    </label> <br><br>
    <label>
        Text:
        <textarea name="text" id="" cols="45" rows="5"></textarea>
    </label> <br><br>
    <label>
        Priority:
        <input type="range" min="0" max="2" value="0" name="priority">
    </label> <br><br>
    <input type="submit" value="add new task">
</form>
</body>
</html>