<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{title}}</h1>
<form action="/" method="post" autocomplete="on">
    <label for="posts">Posts</label>
    <input type="radio" id="posts" name="type" value="p">
    <label for="comments">Comments</label>
    <input type="radio" id="comments" name="type" value="c">
    <label for="submit">Submit</label>
    <input type="submit" id="submit">
</form>
</body>
</html>