<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>{{title}}</h1>
<form action="/" method="post" autocomplete="on">
    {{#each cite}}
        {{this}} <input title="{{this}}" type="radio" name="type" value="{{this}}">
    {{/each}}
    <input type="submit" id="submit" value="go">
</form>
</body>
</html>